body{
    width: 100%;
    margin: 0 auto;
    
}

.wrapper{
    width: 90%;
    margin: 0 auto;

}

.border{
    padding: 20px 0;
    border-bottom: 1px solid gray;
    text-transform: uppercase;
}

.red-bg{
    background-color: #ff0303;
    color: white;
    padding: 5px;
}

a{
    text-decoration: none;
    color: black;
}

hr{
    border: 1px solid gray;
    

}